<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Архив должностей</title>
</head>

<div align="left">
    <a href="/positions">Должности</a>

</div>
<body>
<div align="center">
    <h2>Архив должностей</h2>
    <table border="1" cellpadding="10" >
        <thead>
        <tr>

            <th>Имя</th>
            <th>Действия</th>

        </tr>
        </thead>
        <tbody th:each="position: ${positions}">
        <tr th:if="${position.archived}">
            <td th:text="${position.name}"></td>


            <td>
                <a th:href="@{'/unarchivePosition/'+${position.id}}">Разархивировать</a>
            </td>

        </tr>
        </tbody>
    </table>


</div>



</body>
</html>